<html>

  <head>
    <title>The Gossip Project</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">    
  </head>

  <body style="margin:50px;">
      <h1>INDEX POTINS</h1>
      <h3><a href="/gossips/new/">CREER UN NOUVEAU POTIN</a></h3>            
          <table>
          <thead>
            <tr>
              <th>Auteur</th>
              <th>Potin</th>
            </tr>
          </thead>
            <tbody><tr> <% gossips.each_with_index do |gossip,i| %>
             <td> <%= gossip.author %></td>
              <td><a href="/gossips/<%= i%>/"><%= gossip.content %> </a></td>       
             </tr>
            </tbody> <% end %>
            </table>
  </body>
</html>