<html>

  <head>
    <title>The Gossip Project</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">  
  </head>

  <body style="margin:50px;">
    <h1>SHOW POTIN</h1>
      <h3>Voici la page du potin n°<%= params['id'] %><br/></h3>
        <br/>
        <table>
          <thead>
            <tr>
              <th>Auteur</th>
              <th>Potin</th>
            </tr>
          </thead>
            <tbody><tr> 
             <td> <%= gossip.author %></td>
              <td><%= gossip.content %> </td>       
             </tr>
            </tbody> 
        </table>
        <br/>
        <a href="/gossips/<%= params['id'] %>/edit/">Editer le potin</a>
        <br/><br/>
        <a href="/">Revenir à la page des potins</a>
  </body>

</html>